/*---POLICES---*/
/*---Tandelle---*/
/*font-family: tandelle,sans-serif;
font-weight: 400;
font-style: normal;
font-style: italic;

font-family: tandelle,sans-serif;
font-weight: 700;
font-style: normal;
font-style: italic;*/

/*---Montserrat---*/
/*font-family: 'Montserrat', sans-serif;*/


body{
    background-color: #282828;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}
h1, h2, p, a{
    color: white;
}
h1,h2{
    font-family: tandelle,sans-serif;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    margin: 0;
}
h1{
    font-size: 8em;
    margin: -10px;
}
header h2{
    font-size: 1.8em;
    letter-spacing: 0.5em;
}
.page_1{
    min-height: 100vh;
    position: relative;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 38%;
    left: 31.5%;
}
nav{
    display: flex;
    justify-content: center;
}
nav ul{
    display: flex;
    justify-content: space-between;
    width: 500px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;
    text-decoration: none;
}
/*---HEADER---*/
header{

}

/*---SECTION 2---*/
.page_2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(180deg, #282828, #31afb4);
}
.page_2 p{
    width: 60%;
    text-align: center;
    line-height: 2.5em;
}
.sous_page_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn{
    background: #282828;
    width: 240px;
    border-radius: 18px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 7px black;

}
button{
    font-family: tandelle,sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2.7em;
    text-transform: uppercase;
    text-align: center;
    padding: -10px;
    background:-webkit-linear-gradient(bottom, #b1b1b1 10%, #e6e6e6 90%);
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
    border: none;

}

/*---SECTION 3---*/
.page_3{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(0deg, #282828, #31afb4);

}
.sous_page_3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
}
.card_1{
    background: #31afb4;
    height: 300px;
    width: 40%;
    border-radius: 18px;
    margin: 30px 50px 30px 50px;
    position: relative;
    box-shadow: 0px 0px 7px black;
}
.image{

}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    bottom: 0;
    background: white;
    border-radius: 0 0 18px 18px;
    width: 100%;
    height: 80px;
}
.banner a{
    padding: 8px;
    text-decoration: none;
    background:-webkit-linear-gradient(top, #282828 30%, #acacac 70%);
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
    font-size: 1.8em;
}

/*---SECTION 4---*/
.page_4{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sous_page_4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
}
.sous_page_4 h1{
    font-size: 5em;
    margin: 20px 0 20px 0;
}
.paragraphe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.paragraphe p{
    text-align: center;
    width: 100%;
    text-align: center;
    line-height: 2.5em;
}
.paragraphe a{
    text-decoration: none;

}
.card_2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 50px;
}
.sous_card_2{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #31afb4;
    height: 80px;
    width: 40%;
    border-radius: 18px;
    margin: 20px;
    text-decoration: none;
    box-shadow: 0px 0px 7px black;

}
.sous_card_2 h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    color: #282828;
    text-transform: lowercase;
}